<div class="home">
<div class="text-center">

    <div class="vertical-space"></div>
    <h1><a href="https://discord.gg/9HYB4n3Dz4" class="dbm-title">DBM POLAND</a></h1>
    <img src="res/images/dbm-pl.png" alt="DBM Poland" style="margin-top: 10px; width: 200px; border-radius: 15px;">
    <div class="center-row">DBM POLAND DOWNLOADER</div>
    <h4></h4>


    <div class="vertical-space"></div>
    <div class="col-md-6 center-row">
        <input name="url" type="url" placeholder="GitHub File or Directory Link" class="form-control input-url" ng-model="url" ng-keypress="catchEnter($event)"></input>
    </div>
    <div class="btn-group center-row">
        <button type="button" class="btn btn-default btn-custom" ng-click="createDownLink()">Create Download Link</button>
        <button type="button" class="btn btn-default btn-custom" ng-click="download()">Download</button>
    </div>


    <div ng-show="isProcessing.val">
        <div class="vertical-space"></div>
        <img class="processing-img" src="res/images/processing.gif" />
        <p>Downloaded {{downloadedFiles.val}} of {{totalFiles.val}} files</p>
    </div>


    <div class="col-md-6 center-row" ng-show="downUrl">
        <div class="vertical-space"></div>
        <textarea class="form-control download-link-box" ng-model="downUrl" ></textarea>
    </div>

    <div class="vertical-space"></div>
    <div class="footer">
        <a class="donate-button" target="_blank" href="https://discord.gg/9HYB4n3Dz4"></a>
        <div class="vertical-space"></div>
        <a target="_blank" href="https://discord.gg/9HYB4n3Dz4" class="discord-link">DISCORD</a>
    </div>

</div>
</div>
